html{
	overflow-x: hidden;
}
*{
    margin:0 auto;
	padding:0 auto;    	
}
body{
	margin:0 auto;
    padding:0 auto;	   	
    overflow-x: hidden;    
    font-family: Segoe Print !important;
}
.container{
	margin:0 auto;
    padding:0 auto;    
}

#linhaProntas, #linhaCadastromsgsprontas{
	display: none;
}

@media only screen and (max-device-width: 600px) { 
	
}

footer{
	padding:55px 0px 30px 0px;
}
footer h6{
	font-family: verdana;
	margin: 2px !important;
}
ul, li{	
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none;
}